* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #e9e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border: unset;
  background: #e9e9e9;
  padding: .5em;
}

button {
  cursor: pointer;
}

.btn-submit {
  border: unset;
  background-color: rgb(47, 178, 222);
  padding: .5em;
  color:#ffffff;
}

.autocomplete-list-div {
  display: inline-block;
  position: relative;
}

.autocomplete-list {
  list-style: none;
  padding: unset;
  margin: unset;
  position: absolute;
  width: 100%;
}

.autocomplete-list li {
  border: 1px solid #e9e9e9;
  border-top: unset;
}

.autocomplete-list li:hover {
  background: #faf6f6;
}

.autocomplete-list button {
  border: unset;
  background: unset;
  display: block;
  width: 100%;
  text-align: left;
  padding: .5em;
}

/*body {
  color: #a9bcd0;
  background-color: #2b4162;
  background-image: -webkit-linear-gradient(#30486c, #212e45);
  font-size: 11pt;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  width: 750px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 0px solid #a9bcd0;
  border-radius: 15px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(43, 65, 98,  .0)
}

.title {
  margin-top: 20px;
  order: 1;
  font-weight: bold;
  font-size: 26pt;
  width: 450px;
  display: flex;
  color: #ffd639;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 40px;
}

.form-div {
  order: 2;
  width: 450px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.input-div {
  width: 250px;
  height: 40px;
  color: #d7b377;
  display: flex;
  box-sizing: border-box;
  background: transparent;
  border: 1px solid #ffd639;
  padding: 2px;
  margin: 8px 0;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
}

.inputBar {
  width: 200px;
  height: 30px;
  color: #d7b377;
  box-sizing: border-box;
  background: transparent;
  border: 0px solid #a9bcd0;
  border-radius: 10px;
}

.inputBar:focus {
  width: 200px;
  color: #d7b377;
  box-sizing: border-box;
  background: transparent;
  border: 0px solid #35c9ff;
  outline: none;
}

.button-div {
  order: 3;
  width: 450px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.content-div {
  margin-top: 70px;
  order: 4;
  display: flex;
  flex-direction: row;
  width: 700px;
  text-align: center;
  align-items: center;
  justify-content: left;
  border: 0px solid #a9bcd0;
  gap: 15px;
}

.map-div {
  order: 1;
  border: 1px solid #a9bcd0;
  border-radius: 15px;
  padding: 20px;
  height: 90px;
  width: 30%;
}
.map-div2 {
  order: 2;
  border: 1px solid #a9bcd0;
  border-radius: 15px;
  padding: 20px;
  height: 90px;
  width: 60%;
}
.img {
  width: 20%;
}*/
